html {
    font-size: 20px;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 2rem;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.game-area {
}

.game-area__row {
    display: flex;
    justify-content: center;
}

.game-area__cell,
.game-area__cell--snake-tail,
.game-area__cell--snake-head {
    background-color: #EEE;
    width:  1rem;
    height: 1rem;
}

.game-area__cell--snake-head {
    background-color: #09F;
    width:  1rem;
    height: 1rem;
}

.game-area__cell--snake-tail {
    background-color: #F80;
    width:  1rem;
    height: 1rem;
}

.game-area__cell--food {
    background-color: #0F0;
    width:  1rem;
    height: 1rem;
}

.game-area__row:nth-child(odd)
.game-area__cell:nth-child(odd),
.game-area__row:nth-child(even)
.game-area__cell:nth-child(even) {
    background-color: #E6E6E6;
}

.total-moves {
    font-size: 2rem;
}
